@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    text-align: center;
    font-size: 4.6rem;
    font-weight: bolder;
    color: rgba(245, 245, 245, 0.772);
    margin: 80px 0 0 0;
    user-select: none;
}

.container {
    height: auto;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -85%);
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .setTimer{
    width: 100%;
    height: auto; 
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4rem;
    color: white;
}

.container .setTimer input[type=number]{
    width: 150px;
    height: 160px;
    font-size: 70px;
    background-color: #ffffff21;
    color: #fff;
    text-align: center;
    border: transparent;
    border-bottom: 3px solid #ffffff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 0 20px;
}

.container .setTimer input[type=number]:active{
    transform: translateY(-1px) scale(1.1);
}

.tHour{
    position: absolute;
    top: 55%;
    transform: translateX(20px);
    font-size: 1.4rem;
    background-color: #ffffff21;
    padding: 3px 0;
    width: 150px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.tMinute{
    position: absolute;
    top: 55%;
    transform: translateX(20px);
    font-size: 1.4rem;
    background-color: #ffffff21;
    padding: 3px 0;
    width: 150px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.tMinute{
    position: absolute;
    top: 55%;
    transform: translateX(20px);
    font-size: 1.4rem;
    background-color: #ffffff21;
    padding: 3px 0;
    width: 150px;
    border: 1px solid transparent;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}